<launch>
	<arg name="doDebug" default="false" />
	<arg if="$(arg doDebug)" name="launchPrefix" value="xterm -e gdb -args" />
	<arg unless="$(arg doDebug)" name="launchPrefix" value="" />

	<arg name="cmd_vel_topic_name" default="/cmd_vel" doc="cmd_vel topic name" />
	<arg name="cone_detector_topic_name" default="/cone_detector" doc="cone_detector topic name" />
	<arg name="do_debug_strategy" default="true" doc="Enable info traces related to strategy code" />
	<arg name="fix_topic_name" default="/fix" doc="fix topic name" />
	<arg name="gps_close_distance_meters" default="2.0" doc="How close to get to a point using GPS to be considered 'close enough'" />
	<arg name="imu_topic_name" default="/imu" doc="IMU topic name" />
	<arg name="magnetic_declination" default="13.42" doc="Magnetic declination adjustment for IMU reading" />
	<arg name="odometry_topic_name" default="/odom" doc="odometry topic name" />
	<arg name="show_cone_detector_windows" default="true" doc="true => show parameter window for cone detector" />
	<arg name="use_imu" default="true" doc="true => use the IMU instead of Odometry as true robot heading" />
	<arg name="waypoint_yaml_path" default="config/wimble_patio_waypoints.yaml" doc="path to yaml file containing waypoints" />
	
  	<node pkg="victoria_navigation" name="robo_magellan_node" type="robo_magellan_node" respawn="false" output="screen" launch-prefix="$(arg launchPrefix)" >
	  	<param name="cmd_vel_topic_name" value="$(arg cmd_vel_topic_name)" />
	  	<param name="cone_detector_topic_name" value="$(arg cone_detector_topic_name)" />
	  	<param name="do_debug_strategy" value="$(arg do_debug_strategy)" />
	  	<param name="fix_topic_name" value="$(arg fix_topic_name)" />
	  	<param name="gps_close_distance_meters" value="$(arg gps_close_distance_meters)" />
	  	<param name="imu_topic_name" value="$(arg imu_topic_name)" />
	  	<param name="magnetic_declination" value="$(arg magnetic_declination)" />
	  	<param name="odometry_topic_name" value="$(arg odometry_topic_name)" />
	  	<param name="use_imu" value="$(arg use_imu)" />
	  	<param name="waypoint_yaml_path" value="$(find victoria_navigation)/$(arg waypoint_yaml_path)" />
	</node>

</launch>
